Flask
gunicorn
firebase-admin
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-bigquery
google-cloud-bigquery-connection
google-cloud-bigquery-storage
google-cloud-core
google-cloud-datastore
google-cloud-firestore
google-cloud-functions
google-cloud-language
google-cloud-storage
google-cloud-translate
google-crc32c
google-resumable-media
googleapis-common-protos
Jinja2
jsonpickle
jsonschema
keras
numpy
oauth2client
pandas-datareader
pandas-gbq
scikit-learn
scipy
tensorflow
tensorflow-datasets
tensorflow-estimator
tensorflow-gcs-config
tensorflow-io-gcs-filesystem
tensorflow-metadata
